.Header {
    padding: 1rem;
    background-color: #fff;
    margin-bottom: 1rem;
    display: flex;
    justify-content: flex-end;
}
.cart {
    font-weight: 700;
    text-align: right;
    cursor: pointer;
    display: block;
}
.goods-count{
    background-color: #00aeff;
    border-radius: 50%;
    color: #ffffff;
}